html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Question: Is there a general preference of html vs * ? */

body{
  margin: 0;
}

/*
*Button
*/

button {
  background-color: #DB7A4E;
  border-radius: 1.25rem;
  border: 0;
  color:#FFFFFF;
  padding: 0.625rem 2.5rem;
  cursor: pointer;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes hover-animation {
  0% {
    background-color: #DB7A4E;
    transform: scale(1);
  }
  50% {
    background-color: #FFC764;
    transform: scale(1.1);
  }
  100% {
    background-color: #DB7A4E;
    transform: scale(1);
  }
}

button:hover {
  animation-name: hover-animation;
}

/*
 * Site Header w/ Navigation
 */


.site-header {
    position:sticky;
    background-color: #FFFFFF;
    border: 0;
    margin: 0;
    padding: 0.3125rem 0.9375rem 0.125rem 0.9375rem;
    z-index: 1;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.625rem 5%;
}
.nav__site-logo{
    color: #335576;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}
.nav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
}
.nav__item {
    display: inline-block;
    padding: 0.5rem;
    font-size: 0.75rem;
}
.nav__link {
    color: #000000;
    text-decoration: none;
}
.nav__link--active {
  padding-bottom: 0.375rem;
  border-bottom: 0.1875rem solid #DB7A4E;
}
.nav__link:hover {
    padding-bottom: 0.375rem;
    border-bottom: 0.25rem solid #335576;
}


 /*
 * Site Footer - Contact, Hours, Social Media
 */


 .site-footer {
    background-color: #FEFAF5;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .site-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 80rem;
    margin: 0 auto;
  }
  .site-footer__title {
    margin: 0;
    font-size: 20px;
    color: #335576;
    padding-top: 1.25rem;
    padding-bottom: 0.625rem;
  }
  .site-footer__subtitle {
    color: #DB7A4E;
    font-size: 0.5625rem;
    white-space: nowrap;
    margin-bottom: 0.2rem;
  }
  .site-footer__link {
    color: #335576;
    font-size: 0.8125rem;
    text-decoration: none;
  }
  .site-footer__text {
    margin: 0.312rem 0;
    color: #335576;
    font-size: 0.8125rem;
  }
  .site-footer__contact {
    padding: 1.5625rem 0 3.125rem 12.1875rem;
  }
  .site-footer__hours {
    display: flex;
    flex-direction: column;
  }
  .site-footer__hours-columns {
    display: flex;
    flex-direction: column;
    padding: 0 1.5625rem 0 0;
  }
  .site-footer__hours-columns--wrapper {
    display: flex;
    flex-direction: row;
  }
  .site-footer__social {
    padding: 0 10.625rem 0 0;
  }
  .site-footer__icon {
    height: 1.5rem;
    margin: 1.25rem 1.5625rem 0 0;
  }
  .site-footer__icon--link {
    text-decoration: none;
  }
  