/* html vs * ? */

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  margin: 0;
}

.site-header {
    position:sticky;
    background-color: #FFFFFF;
    top:0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 1;
}
.nav{
    /* Each page must have an identical Navigation Bar with the following style:
    X The Navigation Bar must be fixed to the top of the page
    X The background color must be #FFFFFF
    X The site logo/wordmark color must be #335576
    X The currently active page must be underlined using the color #DB7A4E */

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 80rem; 1280px */
    /* margin: 0 auto; */
    margin: 10px 5%;
}

.nav__site-logo{
    color: #335576;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}

.nav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
}

.nav__item {
    display: inline-block;
    padding: 0.5rem;
}

.nav__link {
    color: #000000;
    text-decoration: none;
}

.nav__link--active {
  padding-bottom: 0.375rem;
  border-bottom: 0.1875rem solid #DB7A4E;
}

/* .nav__link:hover {
    padding-bottom: 0.375rem;
    border-bottom: 0.1875rem solid #DB7A4E;
} */


 /*
 * site-footer
 */

 /* footer {
    /* <!-- Each page must have an identical footer with the following style:
    The background color must be #FEFAF5
    The footer titles and text must be the color #335576
    The footer subtitles must be the color #DB7A4E --> */

 .site-footer {
    background-color: #FEFAF5;
    margin-bottom: 0;
    /* padding: 2rem; */
  }
  .site-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 80rem;
    margin: 0 auto;
  }
  .site-footer__title {
    margin: 0;
    font-size: 1.5625rem;
    color: #335576;
  }
  .site-footer__subtitle {
    color: #DB7A4E;
    font-size: 0.625rem;
    white-space: nowrap;
    margin-bottom: 0.2rem;
  }
  .site-footer__link {
    color: #335576;
    font-size: 0.9375rem;
    text-decoration: none;
  }
  .site-footer__text {
    margin: 0.312rem 0;
    color: #335576;
    font-size: 0.9375rem;
  }
  .site-footer__icon {
    height: 1.5rem;
    width: auto;
    margin: 1rem;
  }
  .site-footer__icon--link {
    text-decoration: none;
  }
  /* .site-footer__icon:hover {
    color: red;
  } */

  .site-footer__left {
    /* width: 33.33%; */
    /* flex: 1; */
    /* padding: 0.625rem; */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 200px;
    padding-right: 0;
  }
  .site-footer__center {
    /* width: 33.33%; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: space-between; */
  }
  .site-footer__column--wrapper{
    display: flex;
    flex-direction: row;
  }
  .site-footer__column {
    /* display: inline; */
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 20px;
    /* flex: 1;
    padding: 0 1.5rem; */
  }
  .site-footer__right {
    /* width: 50%; */
    /* flex: 1; */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 200px;
  }
  